.anchor-pane {
    -fx-background-color: #1E1E1E;
}

.tab .tab-label {
    -fx-text-fill: #FFF;
    -fx-font-size: 14px;
}

.tab-pane .tab-header-background {
    -fx-background-color: #181818;
}

.tab {
    -fx-background-color: #222222;
    -fx-background-radius: 8 8 0 0;
    -fx-padding: 10 15;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #007BFF;
    -fx-border-color: #0056b3;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
}

.tab:hover {
    -fx-background-color: #333333;
}

.tab-pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.label {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #FFF;
}
